@model Obligatorio.Compra

<div>

    <h1>Compra confirmada</h1>

    <p>@Model.Usuario.Email</p>
    <p>@Model.Actividad.Nombre</p>
    <p>@Model.CalcularPrecioFinal()</p>
    <p>@Model.CantidadEntradas</p>
    <p>@Model.FechaHora</p>

</div>
